.header {
    background-color: #333;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
  }
  
  .header nav {
    display: flex;
  }
  
  .header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Enable wrap */
  }
  
  .header li {
    margin: 0 15px;
  }
  
  .header a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #333;
    transition: background-color 0.3s ease-in-out;
  }
  
  .header a:hover {
    background-color: #555;
  }
  
  .active-link {
    background-color: #555;
  }
  
  .page-name {
    color: #fff;
    font-size: 24px;
    margin: 0;
    padding: 10px;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .header li {
      margin: 5px; /* Reduce margin */
    }
  
    .header a {
      font-size: 16px; /* Reduce font size */
      padding: 8px; /* Reduce padding */
    }
  
    .page-name {
      font-size: 20px; /* Reduce page-name font size */
      padding: 8px; /* Reduce page-name padding */
    }
  }
  