/* Membership.css */

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #33b3cd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3ec392;
}

.payment-form-container {
  margin-top: 20px;
}

.hide-form-button {
  margin-top: 10px;
  background-color: #ccc;
}

.hide-form-button:hover {
  background-color: #aaa;
}

.styled-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.styled-select select {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.select-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-top: 4px solid #333;
  border-right: 4px solid #333;
  transition: all 0.3s ease;
  pointer-events: none;
}

.styled-select select:focus + .select-arrow {
  transform: translateY(-50%) rotate(45deg);
}

.styled-select select:disabled + .select-arrow {
  border-top-color: #999;
  border-right-color: #999;
  opacity: 0.5;
}
